<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.Trip.mapper.TravelMapper">
	<select id="getList" resultType="org.Trip.domain.TravelVO">
		<![CDATA[
			select tv.tv_no, tv.tv_tit, tv.tv_content, tv.tv_local, tv.tv_id, tv.tv_category, img.tv_no, img.img_no, img.m_img, img.sub_img1, img.sub_img2, img.sub_img3, img.sub_img4 from trip_tv tv inner join trip_img img on tv.tv_no = img.img_no
			where 
		]]>
	</select>
	
	<insert id="insertTrip">
		insert into trip_tv (tv_no, tv_tit, tv_ads, tv_content, tv_local, tv_id, tv_category, tv_price)
		values (seq_tv.nextval, #{title}, #{address}, #{content}, #{local}, #{localId}, #{localCategory}, #{price})
	</insert>
	

	
	<update id="updateTrip">
		update trip_tv set tv_tit=#{title}, tv_content=#{content}, tv_price=#{price}, tv_local=#{local}, tv_id="#{localId}", tv_category=#{localCategory} updated_at = sysdate where tno = #{tno}
	</update>
	
	<delete id="deleteTrip">
		delete from trip_tv where tno=#{tno}
	</delete>
	
	<update id="updateCount">
		update trip_tv set user_count = #{count} where tno=#{tno}
	</update>
	
	<!-- <select id="getListPageWith" resultType="org.Trip.domain.TravelVO">
		<![CDATA[
			select t  from (
				select /*+ INDEX_DESC(trip_tv pk_tvno) */
				
			)
		]]>
	</select> -->
	
	<resultMap type="org.Trip.domain.TravelVO" id="tripMap">
		<id property="tripId" column="tno"/>
		<result property="tno" column="tno" />
		<result property="title" column="" />
		<result property="usernick" column="user_nick" />
		<result property="regdate" column="regdate" />
		<collection property="imageList" resultMap="imageMap"></collection>
	</resultMap>
	
	<resultMap type="org.Trip.domain.ImageFileVO" id="imageMap">
		<result property="userid" column="user_id" />
		<result property="auth" column="auth" />
	</resultMap>
	
	
	<select id="bestTrip" resultType="org.Trip.domain.TravelVO">
			select * from trip_tv order by user_count desc limit 4
	</select>
</mapper>