@charset "UTF-8";

.content {
	padding-top: 150px;
	margin: auto;
	height: 100%;
	position: relative;
	min-height: 100%;
}

body {
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	
}

body::-webkit-scrollbar {
	
	display: none;
}

.footer {
	width: 100%;
	top: 200px;
	height: auto;
	position: relative;
	transform: translateY(-1%);
	
}